scrollbar slider,
GtkScrollbar .slider{
	background-color: @slider_normal;
	
}

GtkScrollbar slider:hover,
scrollbar slider:hover{
	background-color: @slider_hover;
}

GtkScrollbar slider.horizontal,
GtkScrollbar slider.vertical,
scrollbar slider.horizontal,
scrollbar slider.vertical{
	background-image:none;
}

scrollbar button,
scrollbar button:insensitive,
scrollbar button:hover{
	border: 1px solid transparent;
}

scrollbar.horizontal button.up{
	background-image: url('../assets/scrollbar/scrollbar_arrow_left.png');
}

scrollbar.horizontal button.up:hover{
	background-image: url('../assets/scrollbar/scrollbar_arrow_left_prelight.png');
}

scrollbar.horizontal button.up:active{
	background-image: url('../assets/scrollbar/scrollbar_arrow_left_selected.png');
}

scrollbar.horizontal button.down{
	background-image: url('../assets/scrollbar/scrollbar_arrow_right.png');
    
}

scrollbar.horizontal button.down:hover{
	background-image: url('../assets/scrollbar/scrollbar_arrow_right_prelight.png');
}

scrollbar.horizontal button.down:active{
	background-image: url('../assets/scrollbar/scrollbar_arrow_right_selected.png');
}

scrollbar.vertical button.up{
	background-image: url('../assets/scrollbar/scrollbar_arrow_up.png');
}

scrollbar.vertical button.up:hover{
	background-image: url('../assets/scrollbar/scrollbar_arrow_up_prelight.png')
}

scrollbar.vertical button.up:active{
	background-image: url('../assets/scrollbar/scrollbar_arrow_up_selected.png')
}

scrollbar.vertical button.down{
	background-image: url('../assets/scrollbar/scrollbar_arrow_down.png');
}

scrollbar.vertical button.down:hover{
	background-image: url('../assets/scrollbar/scrollbar_arrow_down_prelight.png')
}

scrollbar.vertical button.down:active{
	background-image: url('../assets/scrollbar/scrollbar_arrow_down_selected.png')
}