notebook, .notebook, GtkNotebook{
    padding: 5px;
	background-clip: border-box;
}

notebook stack{
    background-color: @base_color;
    border: 1px solid @separator_color;
    padding: 5px;
}

notebook tab{
	background-color: @bg_color;
    padding:4px;
    border: 1px solid @separator_color;
}

notebook tab:checked{
	background-color: @base_color;
    padding:6px;
}
notebook header.top{
    padding-top: 5px;
    margin-bottom: -2px;
}
notebook header.bottom{
    padding-bottom: 5px;
    margin-top: -2px;
}
notebook header.left{
    padding-left: 5px;
    margin-right: -2px;
}
notebook header.right{
    padding-right: 5px;
    margin-left: -2px;
}
notebook header.top tab:checked{
    margin-top: -5px;
    border-bottom: 1px solid transparent;
}
notebook header.bottom tab:checked{
    margin-bottom: -5px;
    border-top: 1px solid transparent;
}
notebook header.left tab:checked{
    margin-left: -5px;
    border-right: 1px solid transparent;
}
notebook header.right tab:checked{
    margin-right: -5px;
    border-left: 1px solid transparent;
}