progressbar, .progressbar, GtkProgressBar{
    padding: 1px;
    margin: 2px;
}
progressbar trough{
    background-color: @progressbar_back;
    border: 1px solid @progressbar_border;
}
progressbar progress{
    background-color: @progressbar_full;
}
progressbar progress .pulse{
    background-color: darker(@progressbar_full);
}